$module: '.cell-intro';

.grid #{$module} {
	@include respond-to('mobile') {
		padding-left: 0!important;
		padding-top: 0!important;
		padding-right: 5%;
		position: relative;
	}

	&__fixed {
		@include respond-to('mobile') {
			width: inherit;
			padding-right: 10%;
			position: fixed;
		}
	}

	@media print {
		padding: 0;
	}

	&__title {
		display: inline-block;
		margin: 0 0 10px 0;
		position: relative;
		line-height: 1;

		span {
			z-index: z(2);
			position: relative;
		}

		strong {
			z-index: z(2);
			position: relative;
		}

		.knijff-arrow {
			position: absolute;
			display: inline-block;
			height:109px;
			width: 85px;
			bottom: 0;
			right: 0;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: z(1);
		}
	}

	hr {
		border-color: $grey;
		opacity: 0.18;
	}

	.span-grey {
		color: $grey;
	}

	&--totals {

		@include respond-to('mobile') {
			width: 21rem;
			padding-right: 2.5rem;
		}
	}
}

form-fields {
	@include respond-to('mobile') {
		position: fixed;
		width: 40%;
	}

	position: relative;
}
