$currency: '.form__elem-currency';
$module: '.form__elem-number';

#{$currency} {
	position: absolute;
	left: 0;
	font-size: $font-size;
	line-height: 1;
	bottom: 12px;

	.field-active & {
		color: $black;
	}
}

#{$module} {

	input {
		padding-left: $space-s!important;
		display: block;
		border-radius: $radius;
		border: 1px solid rgba($white, 0.15);
		background: transparent;
		outline: none;
		color: $white;
		font-size: $font-size;
		font-family: $font-base;

		&:focus {
			background-color: transparent;
			outline: none;
			box-shadow: none!important;
			border-color: rgba($white, 0.5);
			color: $white;
		}
	}

	input [type='number'] {
		-moz-appearance:textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&--classes {
		float: right;

		label {
			margin: 0;
			font-size: $font-size-s*0.8;
			color: $grey;
			font-weight: normal;
			line-height: 1;
			padding-bottom: 3px;
			padding-right: 1rem;
			display: inline-block;
		}

		input {
			display: inline-block;
			width: 5rem;
		}
	}

	label {
		left: $space-s!important;

	}
}

#{$module}.field-active {
		label {
			left: 0!important;
		}
}
