$module: '.form';

#{$module} {
	color: currentColor;

	.form-control.is-invalid {
		border-color: $error;
	}

	.invalid-feedback {
		display: block;
		position: absolute;
		color: $error;
		bottom: -25px;

		ul {
			position: relative;
			padding-left: 25px;
		}

		&::before {
			content: '!';
			color: $white;
			position: absolute;
			height: 17px;
			width: 17px;
			line-height: 16px;
			font-weight: bold;
			border-radius: 50%;
			background-color: $error;
			left: 0;
			top: 2px;
			text-align: center;
		}
	}

	&__elem-error {
		background-color: $error-light;

		.content {
			color: $error;

			&:before {
				content: '!';
				color: $error;
				background-color: $white;
			}
		}
	}

	&__elem-inner {
		position: relative;
	}
}