$checkbox: '.form__elem-checkbox';
$radio: '.form__elem-radio';

#{$checkbox}, #{$radio} {
	position: relative;
	margin-bottom: $space-m;

	.is-invalid {
		.form-check {
			border-color: rgba($error, 1);

			@include hocus {
				border-color: rgba($error, 1);
			}
		}
	}

	.form-check {
		display: inline-block;
		margin: $space-xs $space-s 0 0;
		border: 1px solid rgba($grey, 0.3);
		border-radius: $radius;

		@include hocus {
			border: 1px solid rgba($grey, 1);

			label {
				&:before {
					border: 1px solid rgba($grey, 1);
				}
			}
		}

		label {
			color: $black;
			position: relative;
			font-size: $font-size;
			font-weight: 600;
			cursor: pointer;
			padding: $space-xs $space-xs $space-xs 40px;

			&:before {
				content: '';
				position: absolute;
				height: 23px;
				width: 23px;
				left: 10px;
				top: 11px;
				border: 1px solid rgba($grey, 0.3);
				border-radius: $radius;
			}
		}

		input {
			visibility: hidden;
		}

		input:checked + label {
			&:after {
				content: '';
				position: absolute;
				height: 11px;
				width: 11px;
				left: 16px;
				top: 17px;
				background: $primary-color;
			}
		}
	}

	.invalid-feedback {
		top: auto;
		bottom: 0;
	}

	.is-invalid {
		border: 0;
		padding-bottom: 25px!important;
	}

	.form-control {
		padding: 0;
		border: 0;
	}
}

#{$radio} {
	label {
		&:before {
			border-radius: 50%!important;
		}
	}

	input[type=radio]:checked + label {
		&:after {
			border-radius: 50%;
			background: $primary-color;
		}
	}
}


#{$checkbox} {
	input[type=checkbox]:checked + label {
		&:after {
			height: 17px;
			width: 17px;
			left: 13px;
			top: 17px;
			background: transparent;
			//background-image: url('../web/images/checkmark-blue.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
