$module: '.form__elem-textinput';

#{$module} {
	position: relative;
	margin-bottom: $space-m;

	input, textarea {
		display: block;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $grey;
		background: transparent;
		outline: none;
		padding: 20px 0 7px;
		color: $white;
		font-size: $font-size;
		font-family: $font-base;


		.grid-form__cell--white & {
			color: $black;
		}

		&:focus {
			background: transparent;
			outline: none;
			box-shadow: none!important;
			border-color: $white;
			color: $white;

			.grid-form__cell--white & {
				border-color: $black;
				color: $black;
			}
		}
	}

	textarea {
		height: 55px;
		min-height: 55px;
		overflow: hidden;
	}

	label {
		color: $grey;
		font-size: $font-base;
		position: absolute;
		margin: 0;
		left: 0;
		top: 20px;
		transition: all .2s ease;
	}

	&.field-active {
		label {
			top: 2px;
			transition: all .2s ease;
			font-size: $font-size-xs;
		}
	}
}