$module: '.form__elem-date';

#{$module} {
	&.field-active {
		input {
			color: $black!important;
		}
	}

	input {
		color: $grey!important;
		background-color: transparent!important;
	}

	input::-webkit-inner-spin-button {
		display: none;
	}
}