$switch: '.switch';

#{$switch} {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 26px;
	vertical-align: middle;
	margin-right: 15px;
	margin-bottom: 0;

	input[type='checkbox'] {
		display:none;
	}

	input:checked + .switch__slider:before {
		transform: translateX(18px);
	}

	input:checked + .switch__slider {
		background-color: $primary-color;
	}

	input:focus + .switch__slider {
		box-shadow: 0 0 1px $primary-color;
	}

	&__slider {
		position: absolute;
		cursor: pointer;
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($primary-color, 0.2);
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;

		&::before {
			position: absolute;
			content: "";
			height: 20px;
			width: 20px;
			left: 4px;
			bottom: 3px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
	}
}
