
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

$module: '.grid-form';

#{$module} {
	margin-top: 0!important;
	height: 100vh;
	align-items: center;
	padding: 0 $space-xs;

	&__cell {
		padding: 0;
		color: $white;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;

		@include respond-to(mobile) {
			padding: 0;
		}

		&--white {
			color: $grey;
			border-radius: $radius;
			background-color: $white;

			@include respond-to(mobile) {
				padding: $space-l!important;
			}

			.grid-form__title {
				color: $black;
			}
		}

		&--submit {
			padding: 0!important;
			margin-bottom: $space-l;
			display: flex;
			justify-content: space-between;

			&.pos-left {
				justify-content: flex-start;
			}

			.form__elem {
				display: inline-block;

				&:nth-child(1){
					margin-right: $space-s;
				}
			}

			@media print {
				margin-bottom: 0;
			}
		}

		&--totals {
			display: block;

			.bar__name {
				margin-top: 1rem;

				&:nth-child(1) {
					margin-top: 2.2rem;

					@media print {
						margin-top: 0;
					}
				}
			}

			.form__elem {
				width: 100%;

				&:nth-child(2) {
					position: relative;
					display: flex;
					width: calc(100% + 10px);
					left: -5px;
				}

				.form__elem-submit--back {
					text-align: center;
					margin: 5px;

					&:nth-child(2) {
						width: 100%;

						img {
							margin-left: 0.5rem;
						}

						&:hover {
							img {
								animation: rotate 0.5s ease;
							}
						}
					}
				}
			}
		}

		&--intro {
			@include respond-to(mobile) {
				padding-right: 8%;
			}
		}
	}

	&__title {
		font-weight: bold;
		margin-top: 0;
		line-height: 1;
		margin-bottom: 10px;
	}

	&__subTitle {
		font-size: $font-size-m;
	}

	&__steps {
		color: $primary-color;
		font-size: $font-size-l;
		display: block;
	}

	&__wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		&--3 {
			.form__elem {
				flex: 0 1 28%;

				.invalid-feedback {
					bottom: -31px;
					line-height: 1;
				}
			}
		}

		&--2 {
			.form__elem {
				flex: 0 1 45%;
			}
		}
	}

	&__label {
		font-weight: bold;
		color: $black;
		display: block;
	}

	&__subLabel {
		font-size: $font-size-xs;
		color: $black;
	}

}
