$module: '.sidebar';

#{$module} {
	&__list {
		padding: 0;
		list-style: none;
	}

	&__step {
		padding: 5px 0;
		margin: 0;
		border-top: 1px solid rgba($grey, 0.35);
		font-size: 1.1rem;

		&:last-child {
			border-bottom: 1px solid rgba($grey, 0.35);
		}

		&__label {
			display: inline-block;
			color: $primary-color;
			width: 100%;
			vertical-align: top;
			line-height: 1.3;

			@include respond-to(mobile) {
				width: 7.5rem;
			}

			&:hover {
				color: $primary-color;
			}
		}

		&__value {
			vertical-align: top;
			display: inline-block;
			width: 100%;
			line-height: 1.3;

			@include respond-to(mobile) {
				width: calc(100% - 7.8rem);
			}
		}
	}
}
