<!DOCTYPE html>
<html>
    <head>
        {% include('PdfBundle:Pdf:css.html.twig') %}
    </head>
    <body class="cover">
        <div class="overlay">
            <h1>{{ title }}</h1>
            <span class="date">{{ date }}</span>
        </div>
    </body>
</html>
