<!DOCTYPE html>
<html>
<head>
    {% include('PdfBundle:Pdf:css.html.twig') %}
    {% include('PdfBundle:Pdf:js.html.twig') %}
</head>
<body class="footer" onload="subst();">
    <span class="title subsection"></span>
    <span class="page"></span>
</body>
</html>
