.content-wrapper {
	background-color: #F2F3F5 !important;

	.content-header {
		margin: 0 auto;
		width: 94%;
		padding-top: 30px;
	}

	.content {
		margin: 0 auto;
		width: 94%;
		padding-top: 15px;
	}

	.box {
		border-top: none !important;
		box-shadow: none !important;
		border-radius: 6px !important;

		table {
			font-size: 16px;
		}
	}
}
