.main-sidebar {
	.sidebar-form {
		margin: 25px;

		input[type="text"], .btn {
			background: $white;
			color: #BBC6D0 !important;
			height: 40px !important;
			font-size: 17px !important;
		}

		input[type="text"] {
			color: #2E3A46 !important;
			border-top-right-radius: 0px !important;
			border-bottom-right-radius: 0px !important;

			&::-webkit-input-placeholder {
				color: #BBC6D0 !important;
			}
		}
	}

	.sidebar-menu {
		font-size: 18px !important;

		.pull-right-container {
			right: 20px !important;
			font-size: 20px;
		}

		li {

			a {
				padding-left: 25px;
				border-left: none;

				&:hover {
					background: #27323D !important;
				}
			}

			> a {
				.fa-folder {
					color: $primary-color;
					margin-right: 5px;
				}
			}

			&.active {
				a {
					background: #2E3A46 !important;
					border-left: none;

					&:hover {
						background: #2E3A46 !important;
					}
				}
			}

			ul {
				background: #2E3A46 !important;

				&.active {
					padding-bottom: 18px;
				}

				a {
					font-size: 18px;
				}
			}
		}
	}
}


@media screen and (min-width: 768px) {
.navbar-right {
    float: right!important;
    margin-right: 0 !important;
	}
}
