.sonata-ba-form-actions {
	padding: 0;
	background: none;
	box-shadow: none;
	border: none;

	button {
		background: $primary-color;
		font-size: 1.7rem;
		border: none !important;
		margin-right: 10px;
		transition: all .3s ease;

		&:hover {
			background: $primary-color-dark;
		}
	}

	.btn {
		margin-right: 6px;
		margin-left: 6px;

		&:first-child {
			margin-left: 0px;
		}
	}

	font-size: 1.7rem;
}

.dropdown-menu {
	li.user-header {
		background: $white !important;
		z-index: 99;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-bottom: 10px !important;
		height: auto !important;

		img {
			width: 90px !important;
			height: 90px !important;
			margin-top: 20px !important;
		}

		p {
			font-size: 22px !important;
			color: $tertiary-color !important;
			font-weight: bold;

			small {
				font-weight: normal;
				opacity: 0.5;
				font-size: 1.4rem !important;
			}
		}

		&::after {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $tertiary-color;
			opacity: 0.2;
			z-index: -1;
		}
	}

	li.user-footer {
		background: $white !important;
		border-bottom-right-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
		padding: 0px 20px 20px 20px !important;

		.pull-left, .pull-right {
				width: 100%;
				display: block;
		}

		.pull-left {
			margin-bottom: 10px;
		}

		a {
			display: block;
			width: 100% !important;
			font-size: 1.6rem !important;
			border: none !important;
		}
	}
}

.btn {
	border: none !important;
}
