<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <style>
                @font-face {
                    font-family: 'SCP';
                    font-weight: normal;
                    src: url('{{ embed('https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/cc35f676db8d665e341971d0c290c03c/SourceCodeProRegular.ttf') }}');
                }
                body {
                    font-family: 'SCP', sans-serif;
                    font-weight: normal;
                    font-size: 12pt;
                    margin: 0;
                    padding: 0;
                }
                table, tr, td, th, tbody, thead, tfoot, p {
                    page-break-inside: avoid !important;
                }
            </style>
        {% endblock %}
    </head>
    <body onload="subst()">
        {% block content %}{% endblock %}
        {% block javascripts %}
            <script>
                function subst() {
                    var vars = {};
                    var valuePairs = document.location.search.substring(1).split('&');
                    vars['section-number'] = '';
                    for (var i in valuePairs) {
                        var valuePair = valuePairs[i].split('=', 2);
                        vars[valuePair[0]] = decodeURIComponent(valuePair[1]);
                        if (valuePair[0] === 'section') {
                            var parts = vars[valuePair[0]].split(',');
                        }
                    }
                    var replaceClasses = ['frompage','topage','page','webpage','section','subsection','subsubsection'];
                    for (var i in replaceClasses) {
                        var hits = document.getElementsByClassName(replaceClasses[i]);
                        for (var j = 0; j < hits.length; j++) {
                            hits[j].textContent = vars[replaceClasses[i]];
                        }
                    }
                }
            </script>
        {% endblock %}
    </body>
</html>
