{% extends 'pdf/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        .cover {
            background-image: url('{{ embed('http://pipsum.com/793x1122.jpg') }}');
            width: 793px;
            height: 1072px;
            padding-top: 50px;
        }
        .cover .overlay {
            padding: 25px 50px;
            background: rgba(0,0,0,0.6);
            color: #fff;
        }
        .cover h1 {
            font-size: 30px;
            text-transform: uppercase;
            line-height: 20px;
            color: #fff;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="cover">
        <div class="overlay">
            <h1>{{ title }}</h1>
            <span class="date">{{ date }}</span>
        </div>
    </div>

{% endblock %}