<!DOCTYPE html>
<html>
<head>
    {% include('pdf/css.html.twig') %}
    {% include('pdf/js.html.twig') %}
</head>
<body class="footer" onload="subst();">
    <span class="title subsection"></span>
    <span class="page"></span>
</body>
</html>
