{% extends 'pdf/base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        .header {
            background-color: #555;
            height: 45px;
            padding: 0 20px;
            text-transform: uppercase;
        }
        .header h1 {
            position: absolute;
            width: 100%;
            text-align: right;
            right: 20px;
            top: 4px;
            font-size: 15px;
            color: #fff;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="header">
        <h1 class="section">&nbsp;</h1>
    </div>

{% endblock %}
