<!DOCTYPE html>
<html>
<head>
    {% include('pdf/css.html.twig') %}
    {% include('pdf/js.html.twig') %}
</head>
<body class="header" onload="subst();">
    <h1 class="section">Section</h1>
</body>
</html>
