{% block body %}
    <main></main>
    <section id="user">
        <user user-id="{{ user.id }}"></user>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/user') }}
{% endblock %}